# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Virtual environment
# -------------------------
.venv/
env/
venv/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Mac
# -------------------------
.DS_Store

# -------------------------
# Logs
# -------------------------
logs/

# -------------------------
# Data (raw data should not be committed)
# -------------------------
data/raw/

# -------------------------
# Caches
# -------------------------
.mypy_cache/
.pytest_cache/
.ruff_cache/

# -------------------------
# IDE (optional)
# -------------------------
.idea/
.vscode/
